body,
html {
  background-color: #111 !important;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  max-width: 1780px;
  width: 100%;
}

header {
  color: black;
  background: linear-gradient(180deg, #00000075, transparent);
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  z-index: 10;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-section p {
  cursor: pointer;
}



.header-link {
  transition: .1s ease-in-out color;
}

.header-link:hover {
  color: #0191b4 !important;
}

.search-input {
  display: block;
  background-color: white;
}

.search-input input {
  border: none;
}

.search-input input {
  outline: none;
}

.categories {
  height: 300px;
  width: 180px;
  background-color: #00a9d4;
  top: 160%;
  right: -6%;
  overflow-y: auto;
}

.categories::-webkit-scrollbar {
  width: 4px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 2px;
}

.categories::-webkit-scrollbar-track {
  background-color: #e2e1e1;
}

.category {
  width: 100%;
  background-color: #40e1fd;
}

.welcome-section {
  object-fit: cover;
  aspect-ratio: 18/10;
  background-color: gray !important;
  max-height: 950px;
}

.welcome-section img {
  height: 100vh;
  object-fit: cover;
}

.welcome-text {
  background-color: rgba(0, 0, 0, 0.199);
  display: flex;
}

.welcome-text h5 {
  width: 60%;
}

.welcome-text h2 span {
  color: rgb(54, 54, 54);
}

.movie-photo {
  border: 4px solid rgb(162, 162, 162);
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 10/15;
  cursor: pointer;
  transition: .07s ease-in-out scale;
  width: 100%;
  background-color: gray;
}

.movie-option {
  text-decoration: none !important;
}

.movie-photo img {
  width: 100%;
  border-radius: 6px;
  height: 100%;
}

.top-text p {
  margin: 0;
  background-color: #00a9d4;
  text-align: center;
  border-radius: 7px;
}

.movie-photo:hover {
  scale: 1.05;
}

.movie:hover .save-movie {
  top: 10px;
}

.movie-info,
.cast-info {
  height: 4rem;
}

.save-movie {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: -20%;
  background-color: #ffffffa9;
  cursor: default;
  transition: .15s ease-in-out top;
}

.save-movie span {
  color: black;
}

.save-movie span:hover {
  color: rgb(148, 89, 0);
}

.image-container {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, #292929 0%, rgba(0, 0, 0, 1) 100%);
  aspect-ratio: 10/15.5;
  border: 2px solid rgb(51, 51, 51);
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-container img {
  height: 100%;
}

.cast .image-container {
  cursor: default;
}

.movie-section-image {
  width: 100%;
  border: 1px solid black;
  height: 100%;
}

.movie-section-image-container {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, #292929 0%, rgba(0, 0, 0, 1) 100%);
  aspect-ratio: 10/15;
  object-fit: cover;
}


.icon {
  color: white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  transition: .1s ease-in-out color;
}

.icon:hover {
  color: #0badd6;
}

.column-1,
.column-2 {
  max-width: 50%;
}

.trailer {
  width: 100%;
  height: 85vh;
}

.character-text {
  color: rgb(162, 161, 161);
}

.page-link {
  cursor: pointer;
}

.padding-header {
  padding-top: 70px;
}

.backdrop-image {
  background-color: black;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, #292929 0%, rgba(0, 0, 0, 1) 100%);
}

.skeleton-image {
  background: none;
  background-color: gray !important;
}

.movies-options {
  width: 80%;
}

.categories-menu {
  left: 0;
  background: white;
  color: black !important;
  z-index: 10;
  gap: 8px;
}

.categories-menu p {
  cursor: pointer;
}

.carousel-item {
  object-fit: cover;
  aspect-ratio: 18/10;
}

.backdrop-image {
  aspect-ratio: 18/10;
}

.menu-icon {
  cursor: pointer;
}

.close-menu {
  cursor: pointer;
}

@media (max-width: 992px) {
  .movie-overview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .column-1,
  .column-2 {
    max-width: 100% !important;
  }

  .save-movie {
    width: 43px;
    height: 43px;
    top: 10px;
  }

  .save-movie span {
    font-size: 25px !important;
  }
}

@media (max-width: 1024px) {
  .movies-options {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .movie-overview {
    white-space: wrap;
    overflow: visible;
    text-overflow: clip;
  }
}